*{
    background-color: white;
    padding: auto;
}

.container_conteudo{
    border: 0cap;
    box-sizing: content-box;

}

.container_texto{
    color: black;
}

h1{
    color: rgb(167, 19, 44);
}

.container_campo{
    color:black;
}

.container_input{
    color: black;
}

#placeholder{
    color: black;
}